@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  background-color: #000;
  color: #fff;
}
h1 {
  text-align: center;
}
header {
  text-align: center;
}
nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 12px;
}
a {
  color: white;
  text-decoration: none;
}
.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 2rem;
  border: 2px solid #fff;
}
.menu {
  border: 2px solid #fff;
  width: 250px;
}
.menu a {
  display: block;
}

img {
  width: 400px;
}
.greeting {
  font-size: 5rem;
  letter-spacing: 0.02em;
}
.current-card {
  margin: 5px;
}
#enter {
  text-align: center;
}
footer {
  font-size: 10px;
  text-align: center;
}
