@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  background-color: #000;
  color: #fff;
}
h1 {
  text-align: center;
}
header {
  position: relative;
  text-align: center;
  padding: 3rem 1rem 2rem;
}
.header-title {
  font-size: 5rem;
  letter-spacing: 0.02em;
  line-height: 0.9;
}
nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 12px;
}
a {
  color: white;
  text-decoration: none;
}
img {
  width: 400px;
}
.enter {
  text-align: center;
}
.main-container {
  max-width: 900px;
  display: grid;
  gap: 16px;
  margin: 0 auto;
  padding: 16px;
  border: 2px solid #fff;
}
section {
  border: 1px solid #fff;
  padding: 16px;
  margin-bottom: 16px;
}
footer {
  font-size: 10px;
  text-align: center;
}
